doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel="stylesheet", href="index.css")
    script(src="/javascripts/index.js") 
  body
    block content
